:root{
    --corp-bg-color: #440750;
    --corp-fg-color: #fce5ca;
    --corp-item-color: #7700ff;
    --corp-item-color-selected: #6b00b3;
}

.admin-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.admin-container h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--corp-bg-color);
}

.admin-container h2 {
    font-size: 1.5em;
    color: var(--corp-bg-color);
    border-bottom: 2px solid var(--corp-bg-color);
    padding-bottom: 5px;
    margin-top: 20px;
    transition: color 0.3s;
}

.admin-container ul {
    list-style-type: none;
    padding: 0;
}

.admin-container ul li {
    margin: 10px 0;
}

.admin-container ul li a {
    text-decoration: none;
    color: var(--corp-item-color);
    padding: 10px;
    border: 1px solid var(--corp-item-color);
    border-radius: 4px;
    margin-left: 20px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.admin-container ul li a:hover {
    background-color: var(--corp-item-color-selected);
    color: #fff;
    transform: scale(1.1);
}

.admin-container .admin-item:hover {
    h2 {
        color: var(--corp-item-color-selected);
        border-bottom: 2px solid var(--corp-item-color-selected);
    }
}