:root {
    --corp-bg-color: #440750;
    --corp-fg-color: #fce5ca;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    top: 0;
}

header, footer {
    z-index: 100;
    background-color: var(--corp-bg-color);
    color: var(--corp-fg-color);
    text-align: center;
    padding: 1em;
    position: fixed;
    width: calc(100% - 2em);
    left: 0;
    right: 0;
}

header h1 a {
    color: var(--corp-fg-color);
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    display: inline-block;
    color: var(--corp-fg-color);
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

header nav ul li a:hover {
    transform: scale(1.1);
    color: #d8bbf3;
}

header nav .active a {
    font-weight: bold;
    color: #dbbe97;
    text-shadow: 1px 1px 4px #ffffff94;
}

header nav .active a:hover {
    transform: none;
    color: #ffffff;
    cursor: default;
}

main {
    padding: 2em;
    width: calc(100% - 4em);
    margin-top: 150px;
    margin-bottom: calc(40px + 16px * 2);
}

footer {
    background-color: var(--corp-bg-color);
    color: var(--corp-fg-color);
    bottom: 0;
    height: 40px;
}

footer p {
    margin: 0;
    line-height: 38px;
}

footer span {
    margin-right: 0.5em;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 0.5em;
}

.pagination {
    bottom: calc(40px + 16px * 2);
}