:root {
    --corp-bg-color: #440750;
    --corp-fg-color: #fce5ca;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    top: 0;
}

header, footer {
    background-color: var(--corp-bg-color);
    color: var(--corp-fg-color);
    text-align: center;
    padding: 1em;
    position: fixed;
    width: calc(100% - 2em);
    left: 0;
    right: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    color: var(--corp-fg-color);
    text-decoration: none;
}

main {
    padding: 2em;
    width: calc(100% - 4em);
    margin-top: 150px;
    margin-bottom: 85px;
}

footer {
    /* padding: 1em 0; */
    background-color: var(--corp-bg-color);
    color: var(--corp-fg-color);
    bottom: 0;
}