body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 2em;
    background-color: #f4f4f4;
    cursor: default;
}

.branch-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.branch-list h1 {
    margin-top: 0;
}

.head-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2eff5;
    border: 1px solid #c5c5c5;
    border-radius: 8px 8px 0 0;
}

.branch-item,
.employee-item {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.employee-item {
    cursor: pointer;
    transition: transform 0.5s;
}

.employee-item:hover {
    transform: scale(1.2);
}

.branch-item h2,
.employee-item h2,
.branch-item h2 a {
    margin-top: 0;
    color: #333;
    text-decoration: none;
    transition: all 0.3s;
}

.branch-item h2 a:hover {
    color: #6b00b3;
    text-decoration: underline;
}

.branch-item p,
.employee-item p {
    margin: 5px 0;
    color: #555;
}

.branch-item p strong,
.employee-item p strong {
    color: #333;
    transition: all 0.3s;
}

.branch-item p,
.employee-item p,
.branch-item p a {
    color: #3c3c3c;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
}

.branch-item p a:hover,
.branch-item p a strong:hover {
    color: #6b00b3;
    text-decoration: underline;
}

.branch-item p:last-child {
    margin-bottom: 10px;
}

.employee-item p:last-child {
    margin-bottom: 20px;
}

.branch-item + .branch-item {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.head-item a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    border-color: #7700ff;
    background-color: #fff;
    color: #7700ff;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    transition: background-color 0.3s ease;
}

.head-item a:hover {
    background-color: #6b00b3;
    color: #fff;
    border-color: #333;
}