.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container form p {
    margin-bottom: 15px;
}

.form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container select,
.form-container textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-container button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #7700ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #6b00b3;
}

.form-container a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #7700ff;
    font-size: 16px;
}

.form-container a:hover {
    text-decoration: underline;
}

.form-container form p:has(.telephone-pre){
    margin-bottom: 15px;
    display: inline-block;
    width: 15%;
}
.form-container form p:has(.telephone-sub) {
    margin-bottom: 15px;
    display: inline-block;
    width: calc(85% - 1em);
}

.form-container form p:has(.input-short){
    width: 30%;
}

.form-container ul {
    font-size: smaller;
    list-style-type: none;
    color: orangered;
    font-weight: bold;
    background-color: rgb(255, 249, 221);
    padding: 10px;
    border: 1px solid orangered;
    border-radius: 4px;
}

.errorlist.nonfield, .errorlist {
    list-style-type: none;
    color: red;
    font-weight: bold;
    background-color: #fdd;
    padding: 10px;
    border: 1px solid red;
    border-radius: 4px;
}

/* .errorlist.nonfield, .errorlist li {
    margin-bottom: 1em;
} */

.helptext {
    font-size: smaller;
    color: rgb(96, 58, 128);
}

.select2-container--default li.select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #6b00b3;
    color: white;
  }