.pagination {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #e9e9ed;
    border: 1px solid #ccc;
}

.step-links a,
.step-links span {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #7700ff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.step-links .current {
    margin: 0 5px;
    padding: 5px 10px;
}

.step-links .disabled {
    pointer-events: none;
    color: #6c757d;
    border: 1px solid #ddd;
    background-color: #e9ecef;
}