{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/forms.css' %}">
{% endblock %}

{% block main %}
    <div class="form-container">
        <h1><i class="fa-solid fa-plus"></i> {{ title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
        </form>
        <a href="{% url 'product_list' %}">Volver al inventario</a>
    </div>
    <script>
        $(document).ready(function() {
            $('.product-select').select2({
            ajax: {
                url: '{% url "product-autocomplete" %}',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                return {
                    q: params.term, // search term
                };
                },
                processResults: function (data) {
                return {
                    results: data.results
                };
                },
                cache: true
            },
            language: "es",
            minimumInputLength: 1,
            });
        });
    </script>
{% endblock %}