{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/forms.css' %}">
{% endblock %}

{% block main %}
    <div class="form-container">
        <h1><i class="fa-solid fa-pen-to-square"></i> {{ title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
        </form>
        <a href="{% url 'product_list' %}"><i class="fa-solid fa-arrow-rotate-left"></i> Volver a la lista</a>
    </div>
{% endblock %}
