{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/forms.css' %}">
{% endblock %}

{% block main %}
    <div class="form-container animate__animated animate__bounceIn">
        <h1><i class="fa-solid fa-arrow-right-arrow-left"></i> {{ title }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
        </form>
        <a href="{% url 'record_list' %}"><i class="fa-solid fa-rotate-left"></i> Volver a la lista</a>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function() {
            $('.product-select').select2({
            ajax: {
                url: '{% url "product-autocomplete" %}',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                return {
                    q: params.term, // search term
                };
                },
                processResults: function (data) {
                return {
                    results: data.results
                };
                },
                cache: true
            },
            language: "es",
            minimumInputLength: 1,
            });
        });
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const fields = [
        { id: 'id_product', icon: 'fa-wine-bottle' },
        { id: 'id_quantity', icon: 'fa-wine-glass' }
        ];

        fields.forEach(field => {
        const label = document.querySelector(`label[for="${field.id}"]`);
        if (label) {
            const icon = document.createElement('i');
            icon.className = `fa-solid ${field.icon}`;
            label.insertBefore(icon, label.firstChild);
            icon.style.marginRight = '8px';
        }
        });
    });
    </script>
{% endblock %}