{% extends "pages/base.html" %}
{% load static %}

{% block title %}Registro{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/forms.css' %}">
{% endblock %}

{% block main %}
  <div class="form-container">
    <h2><i class="fa-solid fa-user-pen"></i> Registrarse en el sistema</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit"><i class="fa-solid fa-user-plus"></i> Registrar</button>
    </form>
    <a href="{% url 'login' %}"><i class="fa-solid fa-user-clock"></i> Ya tengo una cuenta</a>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const fields = [
        { id: 'id_username', icon: 'fa-user' },
        { id: 'id_email', icon: 'fa-envelope' },
        { id: 'id_password1', icon: 'fa-lock' },
        { id: 'id_password2', icon: 'fa-lock' },
        { id: 'id_first_name', icon: 'fa-user' },
        { id: 'id_last_name', icon: 'fa-user' },
        { id: 'id_dni', icon: 'fa-id-card' },
        { id: 'id_cuil', icon: 'fa-id-badge' },
        { id: 'id_branch', icon: 'fa-building' }
      ];

      fields.forEach(field => {
        const label = document.querySelector(`label[for="${field.id}"]`);
        if (label) {
          const icon = document.createElement('i');
          icon.className = `fa-solid ${field.icon}`;
          label.insertBefore(icon, label.firstChild);
          icon.style.marginRight = '8px';
        }
      });
    });
  </script>
{% endblock %}