<!-- templates/404.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página no encontrada</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 20px;
        }
        a {
            text-decoration: none;
            color: #7700ff;
            font-size: 20px;
        }

        a:hover {
            color: #6b00b3;
        }
    </style>
</head>
<body>
    <h1>404 - Página no encontrada</h1>
    <p>Lo sentimos, pero la página que estás buscando no existe.</p>
    <p><a href="/">Volver a la página principal</a></p>
</body>
</html>