{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/admin.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="title">Herramientas Administrativas</h1>
        <div class="admin-list">
            {% for item in admin_links %}
                <div class="admin-item">
                    <h2>{{ item.title }}</h2>
                    {% for link in item.links %}
                        <a href="{{ link.url }}" class="button">{{ link.label }}</a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
