{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/admin.css' %}">
{% endblock %}

{% block main %}
    <div class="admin-container animate__animated animate__fadeIn">
        <h1 class="title"><i class="fa-solid fa-screwdriver-wrench"></i> Herramientas Administrativas</h1>
        <div class="admin-links">
            {% for category in admin_links %}
                <div class="admin-item">
                    <h2>{{ category.title }}</h2>
                    <ul>
                    {% for link in category.links %}
                        <li class="animate__animated animate__flipInX">
                            <a href="{{ link.url }}">
                                <i class="{{ link.icon_class }}"></i>
                                {{ link.label }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
