{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bodega San Martin - {% block title %}{% endblock %}</title>

    {% comment %} SELECT2 CDN {% endcomment %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Select2 Spanish Language -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/es.js"></script>

    <link rel="stylesheet" href="{% static 'web/styles/base.css' %}">

    {% block extra_css %}{% endblock %}

</head>
<body>
    <header>
        <h1>Bodega San Martin</h1>
        <nav>
            <ul>
                <li class="{% if request.resolver_match.view_name == 'index' %}active{% endif %}"><a href="{% url 'index' %}">Inicio</a></li>
                {% if user.is_authenticated %}
                <li class="{% if request.resolver_match.view_name == 'product_list' %}active{% endif %}"><a href="{% url 'product_list' %}">Catalogo</a></li>
                <li class="{% if request.resolver_match.view_name == 'record_list_branch' %}active{% endif %}"><a href="{% url 'record_list_branch' %}">Registros</a></li>
                <li class="{% if request.resolver_match.view_name == 'stock_list_curr' %}active{% endif %}"><a href="{% url 'stock_list_curr' %}">Inventario</a></li>
                {% if user|has_group:"System admins" %}
                    <li class="{% if request.resolver_match.view_name == 'admin_page' %}active{% endif %}"><a href="{% url 'admin_page' %}">Herr. Admin.</a></li>
                {% elif user|has_group:"Managers" %}
                    <li class="{% if request.resolver_match.view_name == 'admin_page' %}active{% endif %}"><a href="{% url 'admin_page' %}">Herr. G.G.</a></li>
                {% elif user|has_group:"Branch managers" %}
                    <li class="{% if request.resolver_match.view_name == 'admin_page' %}active{% endif %}"><a href="{% url 'admin_page' %}">Herr. G.S.</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Salir</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Ingresar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>Bodega San Martin 2024 - Todos los derechos reservados</p>
    </footer>
{% block extra_js %}{% endblock %}
</body>
</html>