{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/branch_list.css' %}"> 
{% endblock %}

{% block main %}
    <div class="branch-list">
        <h1>{{ title }}</h1>
        <div class="head-item">
            <a href="{% url 'add_branch' %}"><i class="fa-solid fa-building-circle-arrow-right"></i> Registrar nueva sucursal</a>
            <a href="{% url 'select_branch' 'edit_branch' %}"><i class="fa-solid fa-building-circle-exclamation"></i> Editar una sucursal</a>
        </div>
        {% for branch in branches %}
            <div class="branch-item">
                <h2>
                    <a href="{% url 'stock_list_branch' branch.id %}">
                        <i class="fa-solid fa-building"></i> {{ branch.name }}
                    </a>
                </h2>
                <p><strong><i class="fa-solid fa-location-dot"></i> Direccion:</strong> {{ branch.address }}</p>
                <p><strong><i class="fa-solid fa-phone"></i> Telefono:</strong> {{ branch.telephone }}</p>
                <p>
                    <a href="{% url 'employee_list_branch' branch.id %}">
                        <strong><i class="fa-solid fa-users"></i> Número de empleados:</strong> {{ branch.num_employees }}
                    </a>
                </p>
                <p>
                    <a href="{% url 'stock_list_branch' branch.id %}">
                        <strong><i class="fa-solid fa-boxes-stacked"></i> Número de productos en stock:</strong> {{ branch.num_products }}
                    </a>
                </p>
            </div>
        {% empty %}
            <div class="branch-item">
                <p><i class="fa-solid fa-xmark"></i> No hay Sucursales disponibles.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}