{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/branch_list.css' %}"> 
{% endblock %}

{% block main %}
    <div class="branch-list">
        <div class="head-item">
            <a href="{% url 'admin_page' %}"><i class="fa-solid fa-screwdriver-wrench"></i> Administrar</a>
        </div>
        {% for e in employees|dictsort:"id" %}
            <div class="employee-item" data-url="{% url 'employee_detail' e.id  %}">
                <h2><i class="fa-solid fa-circle-user"></i> {{ e.full_name }}</h2>
                <p><strong><i class="fa-solid fa-user"></i> Nombre de usuario:</strong> {{ e.user.username }}</p>
                <p><strong><i class="fa-solid fa-envelope"></i> Email:</strong> {{ e.user.email }}</p>
                <p><strong><i class="fa-solid fa-id-card"></i> DNI:</strong> {{ e.dni }}</p>
                <p><strong><i class="fa-solid fa-id-badge"></i> CUIL:</strong> {{ e.cuil }}</p>
                <p><strong><i class="fa-solid fa-building-user"></i> Sucursal:</strong> {{ e.branch }}</p>
            </div>
        {% empty %}
            <div class="branch-item">
                <p>No hay empleados disponibles.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const employees = document.querySelectorAll('.employee-item');
            employees.forEach(emp => {
                emp.addEventListener('click', function() {
                    const url = this.getAttribute('data-url');
                    window.location.href = url;
                });
            });
        });
    </script>
{% endblock %}