{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{ employee.full_name }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/employee_detail.css' %}">
{% endblock %}

{% block main %}
    <div class="employee-detail">
        <h1>{{ employee.full_name }}</h1>
        <p><strong>Nombre de usuario:</strong> {{ employee.user.username }}</p>
        <p><strong>Nivel de acceso:</strong> {{ employee.user.groups.first }}</p>
        <p><strong>Super Usuario:</strong> {{ employee.user.is_staff|yesno:"Si,No,Desconocido" }}</p>
        <p><strong>Email:</strong> {{ employee.user.email }}</p>
        <p><strong>DNI:</strong> {{ employee.dni }}</p>
        <p><strong>CUIL:</strong> {{ employee.cuil }}</p>
        <p><strong>Sucursal:</strong> {{ employee.branch }}</p>
        <p><strong>Suspendido:</strong> {{ employee.is_active|yesno:"No,Si,Desconocido" }}</p>
        <a class="btn" href="{% url 'edit_employee' employee.id %}">Editar</a>
        <a class="btn btn_cancel" href="{% url 'toggle_employee' employee.id %}">{{ employee.is_active|yesno:"Suspender,Habilitar,-" }}</a>
        <br>
        <a href="{% url 'employee_list' %}">Volver a lista</a>
    </div>
{% endblock %}
