{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{ employee.full_name }}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/employee_detail.css' %}"> 
{% endblock %}

{% block main %}
    <div class="employee-detail">
        <h1>{{ employee.full_name }}</h1>
        <p>Nombre de usuario: {{ employee.user.username }}</p>
        <p>Nivel de acceso: {{ employee.user.groups.first }}</p>
        <p>Super Usuario: {{ employee.user.is_staff|yesno:"Si,No,Desconocido" }}</p>
        <p>Email: {{ employee.user.email }}</p>
        <p>DNI: {{ employee.dni }}</p>
        <p>CUIL: {{ employee.cuil }}</p>
        <p>Sucursal: {{ employee.branch }}</p>
        <p>Suspendido: {{ employee.is_active|yesno:"No,Si,Desconocido" }}</p>
        <a class="btn" href="{% url 'edit_employee' employee.id %}">Editar</a>
        <a class="btn btn_cancel" href="{% url 'toggle_employee' employee.id %}">{{ employee.is_active|yesno:"Suspender,Habilitar,-" }}</a>
        <br>
        <a href="{% url 'employee_list' %}">Volver a lista</a>
    </div>
{% endblock %}