{% extends "pages/base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/product_list.css' %}"> 
{% endblock %}

{% block main %}
    <div class="product-grid">
        {% for product in products %}
            <div class="product-card" id="product-{{product.id}}" data-url="{% url 'product_detail' product.id %}">
                <h2>{{ product.name }}</h2>
                <p><strong>Variedad:</strong> {{ product.variety }}</p>
                <p><strong>Descripción:</strong> {{ product.description|truncatechars:30 }}</p>
                <p><strong>Cosecha:</strong> {{ product.vintage }}</p>
            </div>
        {% empty %}
            <div class="product-card">
                <p>No hay productos disponibles.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const productCards = document.querySelectorAll('.product-card');
            productCards.forEach(card => {
                card.addEventListener('click', function() {
                    const url = this.getAttribute('data-url');
                    window.location.href = url;
                });
            });
        });
    </script>
{% endblock %}