{% extends "pages/base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}{{title}}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/record_list.css' %}"> 
{% endblock %}

{% block main %}
    <div class="record-list">
        <div class="record-item">
            <h2><i class="fa-solid fa-clock"></i> {{title}}</h2>
            <a href="{{ btn_order.url }}"><i class="fa-solid fa-bars-staggered"></i> {{ btn_order.label }}</a>
            {% if not user|has_group:"Managers" %}
            <a href="{% url 'add_record' 'entry' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i> Nueva Entrada</a>
            <a href="{% url 'add_record' 'exit' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Nueva Salida</a>
            {% endif %}
        </div>
        {% for record in records %}
            <div class="record-item">
                <h2>{% if record.typeof == 'entry' %}
                    <i class="fa-solid fa-arrow-right-to-bracket"></i> Entrada
                {% else %}
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Salida
                {% endif %}</h2>
                <p><strong><i class="fa-solid fa-calendar-day"></i> Fecha:</strong> {{ record.date }}</p>
                <p><strong><i class="fa-solid fa-wine-bottle"></i> Producto:</strong> Cod.: {{ record.product.id }} {{ record.product.name }} - {{ record.product.variety }} x {{ record.quantity }} </p>
                <p{% if record.branch == employee.branch %} class="highlight" {% endif %}><strong><i class="fa-solid fa-house-flag"></i> Sucursal:</strong> {{ record.branch }}</p>
                <p{% if record.employee == employee %} class="highlight" {% endif %}><strong><i class="fa-solid fa-user"></i> Empleado:</strong> {{ record.employee.user.username }} - {{ record.employee.user.email }}</p>
            </div>
        {% empty %}
            <div class="record-item">
                <p><i class="fa-solid fa-xmark"></i> No hay registros disponibles.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}