{% extends "pages/base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}{{ title }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/forms.css' %}"> 
    <link rel="stylesheet" href="{% static 'web/styles/record_filter.css' %}"> 
    <link rel="stylesheet" href="{% static 'web/styles/paginator.css' %}">
{% endblock %}

{% block main %}
    <h1 class="animate__animated animate__fadeInDown"><i class="fa-solid fa-book"></i> {{ title }}</h1>
    <div class="form-container animate__animated animate__bounceIn">
        <form method="get">
            {{ filter.form.as_p }}
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
            <a href="{% url 'record_list_filter' %}"><i class="fa-solid fa-broom"></i> Limpiar filtros</a>
        </form>
    </div>

    <table class="animate__animated animate__fadeIn">
        <thead>
            <tr>
                <th><i class="fa-solid fa-box"></i> Producto</th>
                <th><i class="fa-solid fa-building-flag"></i> Sucursal</th>
                <th><i class="fa-solid fa-champagne-glasses"></i> Cantidad</th>
                <th><i class="fa-solid fa-arrow-right-arrow-left"></i> Tipo</th>
                <th><i class="fa-solid fa-clipboard-user"></i> Empleado</th>
                <th><i class="fa-solid fa-calendar-day"></i> Fecha</th>
                <th><i class="fa-solid fa-pen-to-square"></i> Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>
                        <a href="?{% param_replace product=record.product.id %}">
                            <i class="fa-solid fa-wine-bottle"></i> {{ record.product.name }}
                        </a>
                    </td>
                    <td>
                        <a href="?{% param_replace branch=record.branch.id %}">
                            <i class="fa-solid fa-building"></i> {{ record.branch.name }}
                        </a>
                    </td>
                    <td>
                        <i class="fa-solid fa-wine-glass"></i> {{ record.quantity }} unidades
                    </td>
                    <td>
                        <a href="?{% param_replace typeof=record.typeof %}">
                            {% if record.get_typeof_display == 'Entry' %}
                            <i class="fa-solid fa-arrow-right-to-bracket"></i> Entrada
                            {% elif record.get_typeof_display == 'Exit' %}
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> Salida
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="?{% param_replace employee=record.employee.id %}">
                            <i class="fa-solid fa-user"></i> {{ record.employee.full_name }}
                        </a>
                    </td>
                    <td>
                        <a href="?{% param_replace date_min=record.date|date:'Y-m-d' date_max=record.date|next_day|date:'Y-m-d' %}">
                            <i class="fa-solid fa-clock"></i> {{ record.date }}
                        </a>                        
                    </td>
                    <td>
                        <a href="{% url 'edit_record' record.id %}"><i class="fa-solid fa-square-pen"></i> Editar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7"><i class="fa-solid fa-xmark"></i> No se encontraron registros.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "components/pager.html" with pages=records %}

{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function() {
            function initializeSelect2(selector, url) {
                $(selector).select2({
                    ajax: {
                        url: url,
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                q: params.term, // search term
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data.results
                            };
                        },
                        cache: true
                    },
                    language: "es",
                    minimumInputLength: 1,
                    width: '100%',
                });
            }

            initializeSelect2('.product-select', '{% url "product-autocomplete" %}');
            initializeSelect2('.employee-select', '{% url "employee-autocomplete" %}');
            $('.select2-container').css('width', 'calc(100% - 22px)');
        });
    </script>
{% endblock %}